<!-- templates/about.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>About</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header class="top-bar">
        <a href="/">ascii-art-web</a>
        <a href="/about">About</a>
    </header>
    <div class="container">
        <div class="content-box">
            <pre>
                      _   _                           _                                _      
                     (_) (_)                         | |                              | |     
  __ _   ___    ___   _   _   ______    __ _   _ __  | |_   ______  __      __   ___  | |__   
 / _` | / __|  / __| | | | | |______|  / _` | | '__| | __| |______| \ \ /\ / /  / _ \ | '_ \  
| (_| | \__ \ | (__  | | | |          | (_| | | |    \ |_            \ V  V /  |  __/ | |_) | 
 \__,_| |___/  \___| |_| |_|           \__,_| |_|     \__|            \_/\_/    \___| |_.__/  
                                                                                              
                                                                                              
By Allen Lee (ylee) & Othemane Afiali (oafiali)
            </pre>
            <h1>ascii-art-web</h1>
            <p>A web version of the ascii-art with simple GUI for easy usability.</p>
            <p>The website is hosted on the local machine using port 8080.</p>
            <p>Only <code>localhost:8080/</code> and <code>localhost:8080/ascii-art</code> are valid URLs.</p>
            <h2>Usage</h2>
            <p>Prerequisites: Golang, git and a browser application.</p>
            <p>Download the project using <code>git clone https://01.gritlab.ax/git/ylee/ascii-art-web.git</code>. Navigate to the project folder in the terminal and start the server by entering <code>go run main.go</code>. Key in a valid URL, <code>localhost:8080/</code> or <code>localhost:8080/ascii-art</code>. And you will see the home page (refer to image below). You will see:</p>
            <ul>
                <li>a top bar with a link to the <code>homepage</code> and <code>about</code></li>
                <li>an ascii art banner</li>
                <li>a short description on how to use the site</li>
                <li>a text field for user to input text</li>
                <li>radio buttons to select banner style</li>
                <li>a button to generate the ascii art</li>
                <li>result output</li>
            </ul>
            <img src="/static/images/image.png" alt="ascii-art-web screenshot">
            <p>Simply enter your text, select the banner style and click the button to generate the ASCII art banner.</p>
            <p>Leading and trailing newlines will be removed (user can enter the newlines themselves).</p>
            <p>Only ASCII characters (from 32 to 127) and newline is considered acceptable input.</p>
            <p>Non-printable ASCII characters will result in an error.</p>
            <h2>Implementation</h2>
            <p>Below is a flowchart that maps out how the program works.</p>
            <ol>
                <li>In main, <code>checkRequired()</code> function checks if all necessary files (such as templates, static resources, etc.) exist in the project folder.</li>
                <li><code>/static</code> is defined as static server route to serve static files effectively to clients.</li>
                <li>The <code>homeHandler()</code> function is registered to the pattern <code>/</code>, handling incoming requests to the root (in this situation, it is effectively handling all incoming requests other than <code>/static</code>).</li>
                <li><code>http.ListenAndServe("8080")</code> starts listening on local port 8080 and uses the [DefaultServeMux] to handle requests.</li>
                <li>The client (browser application) can send HTTP requests to the server. If it is valid, the server will reply with an HTTP response (HTML page) and the 200 status code. Else, an error page with 404 status code.</li>
                <li>If it is a valid <code>GET</code> request, <code>getTemplate()</code> is called. <code>getTemplate()</code> uses the <code>html.Template.ParseFiles()</code> and <code>Execute()</code> to generate the response file (HTML).</li>
                <li>The response (home page) is displayed by the client and the user can input the desired parameters. When the <code>Generate ASCII Art</code> button is hit, a <code>POST</code> request is sent to the server with the user input.</li>
                <li>If it is a <code>POST</code> request, <code>handlePost()</code> is called and in it:
                    <ul>
                        <li>we grab the user inputs using <code>getFormInputs()</code> (<code>http.Request.ParseForm()</code>)</li>
                        <li>we generate the output with <code>GenArt()</code></li>
                        <li>and <code>getTemplate()</code> to generate the response with the output</li>
                    </ul>
                </li>
            </ol>
            <p>Note:</p>
            <ul>
                <li><code>html.Template</code> helps us to generate the desired HTML response page without spending too much time on the HTML files. We have to include some of <code>html.Template</code> syntax in the HTML files and parse it to generate the desired result.</li>
                <li>When encountering an error with an HTTP request or response, <code>errorHandler()</code> is used to generate a custom error page. If the <code>error.html</code> is not found, a simple error message is displayed instead.</li>
            </ul>
            <h2>Tasks</h2>
            <ul>
                <li>main.go
                    <ul>
                        <li>reorganize code for improve readability (Ozzy)</li>
                    </ul>
                </li>
                <li>Design index.html and css
                    <ul>
                        <li>more functionality?</li>
                        <li>added icon</li>
                    </ul>
                </li>
                <li>clean up css(?)</li>
                <li>Learn HTTP protocol, handlers and pattern
                    <ul>
                        <li>focus on HTTP status code</li>
                    </ul>
                </li>
                <li>Learn server and client</li>
                <li>Implement more ASCII art functionality?
                    <ul>
                        <li>ANSI color won't work</li>
                    </ul>
                </li>
            </ul>
            <h2>Optionals</h2>
            <ul>
                <li>export output</li>
                <li>stylize with css (Basically done)</li>
                <li>dockerize</li>
            </ul>
        </div>
    </div>
    <footer class="footer">
        <p>Created by Allen Lee (ylee) & Othemane Afiali (oafiali)</p>
    </footer>
</body>
</html>