<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header class="top-bar">
        <a href="/">ascii-art-web</a>
    </header>

    <div class="container">
        <div class="title">
            <pre>{{.P.Title}}</pre>
        </div>

        <form action="ascii-art" method="POST">
            <div>
                <textarea 
                    name="text" 
                    id="text" 
                    required
                    placeholder="Enter text here"
                >{{.Text}}</textarea>
            </div>

            <div class="radio-group">
                <label>Select Banner Style:</label>
                    <input 
                        type="radio"
                        id="standard"
                        name="banner"
                        value="standard"
                        required
                        {{if eq .Banner "standard"}} checked {{end}}>
                    <label for="standard">standard</label>

                    <input 
                        type="radio"
                        id="shadow"
                        name="banner"
                        value="shadow"
                        required
                        {{if eq .Banner "shadow"}} checked {{end}}>
                    <label for="shadow">shadow</label>

                    <input 
                        type="radio"
                        id="thinkertoy"
                        name="banner"
                        value="thinkertoy"
                        required
                        {{if eq .Banner "thinkertoy"}} checked {{end}}>
                    <label for="thinkertoy">thinkertoy</label>
            </div>

            <button type="submit" class="submit">Generate ASCII Art</button>
        </form>

        <div>
            <pre class="message">{{.P.Msg}}</pre>
        </div>
    </div>

    <footer class="footer">
        <p>Created by Allen Lee (ylee) & Othemane Afiali (oafiali)</p>
    </footer>
</body>
</html>